---
import Section from '@/components/ui/Section.astro';
import SocialLinks from '@/components/ui/SocialLinks.astro';
import HeroImage from '@/components/ui/HeroImage.astro';

import Worldwide from '@/components/icons/Worldwide.astro';

import { basics } from '@cv';

const { name, label, image, location, email, phone, profiles } = basics;
const { city, region } = location;
---

<Section>
  <div class='flex items-center justify-between gap-4'>
    <div class='flex flex-col gap-y-2'>
      <h1 class='text-3xl font-bold'>{name}</h1>
      <h2 class='text-pretty font-mono text-sm text-slate-500'>
        {label}
      </h2>
      <div class='items-center text-pretty font-mono text-xs text-slate-500'>
        <a
          class='inline-flex gap-x-1 align-baseline leading-none hover:underline'
          href={`https://www.google.com/maps/place/${city},${region}`}
          target='_blank'
        >
          <Worldwide />
          <span class='tracking-tighter'>{city}, {region}</span>
        </a>
      </div>
      <SocialLinks profiles={profiles} email={email} phone={phone} />
    </div>
    <HeroImage src={image} alt={name} />
  </div>
</Section>
